body {
  height: 100vh;
}

.navbar {
  background-color: #77adff;
}

.regione {
  transition: all 200ms ease-in-out;
  position: relative;
  fill: #3E5C73;
  stroke: white;
  stroke-width: 1;
  stroke-miterlimit: 10;
  cursor: pointer;
}

#map {
  cursor: pointer;
}

.loader {
  border: 3px solid #f3f3f3; 
  border-top: 3px solid #3E5C73; 
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.card-body {
  color: white;
  background-color: #3E5C73;
}

.brake {
  width: 100%;
  height: 2px;
  background-color: white;
}

#details {
  cursor: pointer;
  color: white;
}




